[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
customtkinter = "~=5.2"
requests = "~=2.31"
matplotlib = "~=3.7"
pandas = "~=2.0"

[dev-packages]
black = "*"
flake8 = "*"
faker = "*"
ipykernel = "*"
mypy = "*"
pytest = "*"
pytest-mock = "*"
